<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>

<article class="tech-article">
  <h2 class="tech-article__title"><%= @post.title %></h2>
  <!-- 改行を有効にする：simple_format -->
  <div class="tech-article__body">
    <%= qiita_markdown(@post.body) %>
  </div>

  <h3>Comments</h3>
  <% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      <% if signed_in? %>
        <%= link_to '[x]',
          post_comment_path(@post, comment),
          method: :delete,
          class: 'command',
          data:{ confirm: 'Sure?'} %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
  <%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
</article>
