<%# newとeditで共通 %>
<%= form_for @category do |f| %>
  <div class="form-group">
    <%= f.label :name, 'カテゴリ名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image, 'アイコン画像 ＜現在登録されている画像＞' %>
    <%if @category.image.blank? %>
      なし
    <%else%>
      <%= image_tag @category.image.url, size: '100x100' %>
    <%end%>
  </div>
  <div class="form-group">
    <%= f.label :image, '新しいアイコン画像' %>
    <%= f.file_field :image, class: 'form-control'  %>
    <div id="preview"></div>

  </div>

  <div class="al-c"><%= f.submit  class: 'btn btn-primary' %></div>
<% end %>

<script>
  function Filepreview(evt){
   var files = evt.target.files;

  document.getElementById('preview').innerHTML =""

   for(var i = 0; i < 3;i++){
   var reader = new FileReader();
   var f = files[i]
   reader.onload = (function(){
   return function(e) {
   var span = document.createElement('span');
   span.innerHTML= "<img src='" +e.target.result + "'>";
   document.getElementById('preview').insertBefore(span,null);
   };
   })(f);
   reader.readAsDataURL(f);
   }
  }
  document.getElementById('user_image').addEventListener('change',Filepreview,false);
</script>
