<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="tech">
      <section class="tech__menu">
        <div class="tech__menu__inner">
          <nav>
            <ul>
              <li class='home'>
                <a href="/"><span class='text'>Myblog.jp</span>
                  <button name="button" type="submit" class="close toggle-menu">x</button>
                </a>
              </li>
              <% if @categories.present?  #カテゴリがある時表示 %>
                <% @categories.each do |category| %>
                <li>
                  <%= link_to category.name, root_path(category_id: category.id) %>
                </li>
                <% end %>
              <% end %>
            </ul>
          </nav>
        </div>
      </section>
      <section class='tech__main'>
        <section class='tech__main__header'>
          <button name="menu" type="submit" class="toggle-menu show-menu">MENU </button>
          <% if controller.controller_name == "posts" %>
            <%= render 'header' %>
          <% end %>
        </section>
        <section class='tech__main__inner'>
          <div class='tech__main__inner__content'>
            <%= yield %>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
